## Accessing stock data with Python

### What you will learn in this session

- Downloading financial/stock data from yahoo finance using pandas datareader
- Downloading real-time stock data using the yfinance library
- Getting stock company specific information using the yfinance library

### Examples from the intro

#### How to install a library in Anaconda.

Use the main conda install command and specify the channel name and the name of the library.

```
conda install -c [channel_name] [library_name]
```

Below is an example to install the pandas library from the main anaconda channel.

```
conda install -c anaconda pandas
```

#### Downloading stock data with pandas-datareader

Downloading gamestop stock data from yahoo finance from Dec 2020 till today

In [1]:
import pandas_datareader.data as web

web.DataReader('GME', 'yahoo', start='12-01-2020')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-01,17.400000,15.760000,17.110001,15.800000,12653900,15.800000
2020-12-02,16.680000,15.380000,15.700000,16.580000,7883400,16.580000
2020-12-03,16.639999,15.870000,16.480000,16.120001,6295000,16.120001
2020-12-04,17.290001,16.260000,16.299999,16.900000,8972700,16.900000
2020-12-07,17.500000,16.219999,17.000000,16.350000,7386300,16.350000
...,...,...,...,...,...,...
2021-05-03,177.490005,159.610001,177.490005,162.199997,5261000,162.199997
2021-05-04,161.490005,151.800003,159.000000,160.729996,4007500,160.729996
2021-05-05,165.500000,158.330002,161.830002,159.479996,1789200,159.479996
2021-05-06,164.720001,155.600006,160.860001,161.009995,2942800,161.009995
2021-05-07,167.410004,157.500000,160.110001,161.110001,2930200,161.110001

#### Downloading stock data with the yfinance library

Downloading gamestop stock data from yahoo finance from Dec 2020 till today

In [2]:
import yfinance as yf

yf.download('GME', start='2020-12-01')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,17.110001,17.400000,15.760000,15.800000,15.800000,12653900
2020-12-02,15.700000,16.680000,15.380000,16.580000,16.580000,7883400
2020-12-03,16.480000,16.639999,15.870000,16.120001,16.120001,6295000
2020-12-04,16.299999,17.290001,16.260000,16.900000,16.900000,8972700
2020-12-07,17.000000,17.500000,16.219999,16.350000,16.350000,7386300
...,...,...,...,...,...,...
2021-05-03,177.490005,177.490005,159.610001,162.199997,162.199997,5261000
2021-05-04,159.000000,161.490005,151.800003,160.729996,160.729996,4007500
2021-05-05,161.830002,165.500000,158.330002,159.479996,159.479996,1789200
2021-05-06,160.860001,164.720001,155.600006,161.009995,161.009995,2942800
2021-05-07,160.110001,167.410004,157.500000,161.110001,161.110001,2930200

Getting data at specific intervals. In the example every hour for today.

In [6]:
yf.download('AZN.L', interval='60m', period='1d')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-05-10 08:00:00+01:00,7690.0,7718.000000,7668.0,7700.249023,7700.249023,225357
2021-05-10 09:00:00+01:00,7701.0,7725.000000,7701.0,7705.000000,7705.000000,140263
2021-05-10 10:00:00+01:00,7704.0,7714.000000,7697.0,7703.000000,7703.000000,77950
2021-05-10 11:00:00+01:00,7701.0,7716.000000,7697.0,7704.000000,7704.000000,70100
2021-05-10 12:00:00+01:00,7703.0,7722.000000,7691.0,7722.000000,7722.000000,72757
2021-05-10 13:00:00+01:00,7720.0,7724.500977,7710.0,7719.000000,7719.000000,38366
2021-05-10 13:23:10+01:00,7718.0,7718.000000,7718.0,7718.000000,7718.000000,0

---

### Task 1: Import the stock data from Apple and Amazon

1. Import the data module from the pandas-datareader library under the alias web. Also import pandas.
2. Search for the ticker for Apple and Amazon on https://uk.finance.yahoo.com/.

&nbsp;

<img src="https://www.dropbox.com/s/ggjn22cr2vhru8q/yahoo_finance.png?raw=1" width=500px>

&nbsp;

3. Download the data from Jan 2020 till today for both Apple and Amazon and store them in separate dataframes.
4. Print the first and last five rows of both dataframes to check that the data has been downloaded correctly.

In [8]:
# import pandas

In [ ]:
# import the data module from the pandas-datareader library under the alias web

In [9]:
# download the stock data from Amazon and Apple from Jan 2020

In [1]:
# print the head and tail from both dataframes

### Task 2: Exporting a dataframe to a csv file

1. Search online to find out how to export a pandas dataframe to a csv file. 
2. Export both dataframes to a csv file.
3. Check the folder where this jupyter notebook is located on your computer. The two csv files should appear in the same folder.

In [14]:
# export the amazon dataframe as a csv

# export the apple dataframe as a csv

### Task 3: Getting real-time data with the yfinance library

1. Import the yfinance library under the alias yf.
2. Get the latest data for both amazon and apple from the last two hours at 1 min resolution

In [1]:
# import yfinance under alias yf

In [3]:
# get the latest data for amazon from the last two hours at 1 min resolution

In [2]:
# get the latest data for apple from the last two hours at 1 min resolution

### Bonus task: Getting ticker info

With the Ticker module from the yfinance library, you can get lots of ticker specific info on the business, historical stock data including dividens and stock splits, and major holders. The ticker is a specific object where the stock data like dividends, earnings etc are stored as attributes. You can access these attributes as in the example below.

```python
amzn_ticker = yf.Ticker('AMZN')
amzn_ticker.earnings
```

The info is a dictionary and is itself one of the attributes of the ticker object. See below an example of how to get the info from the ticker and how to select values from the info dictionary.

```python
amzn_info = amzn_ticker.info
amzn_info['sector']
```

1. Download the stock data for Facebook using the Ticker() object and assign to `fb_ticker`.
2. Get the stock info and assign to the variable `fb_info`.
3. Print the type of `fb_info` and `fb_ticker`.
4. Print the institutional holders, which is one of the attributes of the ticker. Have a look at the [yfinance website](https://pypi.org/project/yfinance/) for an example.
5. Use the key 'longBusinessSummary' to print the business summary from fb_info.
6. Have a look at the [on the yfinance website](https://pypi.org/project/yfinance/) to find out about the attributes that are accessible from the ticker. You will notice that for some attributes there are no values. That is because the Python code from the yfinance library hasn't yet been updated to take into account any recent changes on the yahoo finance website.

In [4]:
# Download the stock data for Facebook using the Ticker() object and assign to fb_ticker.

In [5]:
# Get the stock info and assign to the variable fb_info.

In [20]:
# Print the type of fb_info and fb_ticker.

In [21]:
# Print the institutional holders, which is one of the attributes of the ticker.

In [22]:
# Use the key 'longBusinessSummary' to print the business summary from fb_info.